body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(35deg, #ccffff, #ffcccc);
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ccffff;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #888;
    color: #fff;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    z-index: 1;
}
