/* on_lp/css/style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

.header-container {
    background-color: #3498db;
    color: #fff;
    text-align: left;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 10px;
    font-size: 1.5em;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    border-radius: 5px;
}

.content-container {
    padding: 20px;
    text-align: center;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: 300;
}

form.enroll-form {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.developers {
    margin: 0;
    font-size: 0.8em;
}

footer span {
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
}
