/* 
SCT211-0848/2018 
Jany Muong  
*/

html {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Monospace', monospace;
	font-size: 13pt;
	background-color: #f1eaea;
	padding: 10px;
	margin: 0;
}

.aboutleft{
	text-align: left;
	font: bolder;
}

h1 {
	font-size: 15pt;
	color: #20bcd5;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
}
h1 span {
	border: 4px #20bcd5;
	padding: 10px;
}
p {
	padding: 0;
	margin: 0;
}
.img-circle {
	border: 3px solid white;
	border-radius: 50%;
}
.section {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
}
#header {
	background-image: url("../img_icons/ricks-toilet.jpg");
	background-size: cover;
    margin-top: 10px;
}

#header img {
	display: flex;
	width: 80px;
	height: 80px;
	margin: auto;
    align-items: flex-start;
}
#header p {
	font-size: 25pt;
	color: #dde7ec;
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	text-align: left;
}
#header span {
	color: #dde7ec;
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	text-align: left;
}

#blog {
	background-image: url("../img_icons/gnu.svg");
	/* background: linear-gradient(35deg, #2542426d, rgba(164, 147, 147, 0.373)); */
	background-size: cover;
    margin-top: 10px;
}

#blog img {
	display: flex;
	width: 84px;
	height: 100px;
	margin: auto;
    align-items: flex-start;
}
#blog p {
	font-size: 25pt;
	color: #1e262a;
	padding-top: 5px;
	margin: 0;
	font-weight: bold;
	text-align: left;
}
#blog span {
	color: #1e262a;
	padding-top: 10px;
	margin: 0;
	font-weight: bold;
	text-align: left;
}

#nav-bar {
    background-color: #1c5539;
    margin: 0px;
    overflow: hidden;
    /* position: fixed; */
    height: 73px;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 10px;
}

#nav-bar ul {
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    margin: 10px;
    /* float: left; */
}

#nav-bar ul li {
    display: flex;
    /* float: left; */
    flex-grow: 1;
    padding: 5px 5px;
    margin-right: 48px;
	text-align: justify;
}

#nav-bar a {
    color: white;
    font-family: monospace, sans-serif;
    text-decoration: none;
}

#nav-bar a:after {
    content: '';
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
}

#nav-bar li:hover {
    background-color: maroon;
    border-radius: 32px;
}

#nav-bar a:hover {
    color: black;
} 

table {
	width: 100%;
	font-size: 11pt;
	/* background-image: url("../img_icons/ricks-toilet.jpg"); */
    background: linear-gradient(35deg, #2236366d, rgba(161, 93, 93, 0.373));
}
table, th, td {
	border: 2px solid #cecece;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
.selected {
    font-family: "san-serif" ,verdana;
	background-color: #f36f48;
	font-weight: bold;
	color: white;
}
li {
	margin-bottom: 15px;
	font-weight: bold;
}

.prog {
	margin-left: 32px;
}
progress {
	width: 64%;
	height: 10px;
	color: #d5e6e5;
	background: #efefef;
}
progress::-webkit-progress-bar {
	background: #efefef;
}
progress::-webkit-progress-value {
	background: #afd0cf;
} 
progress::-moz-progress-bar {
	color: #3fb6b2;
	background: #efefef;
}

.hro {
	border: 0;
	height: 1px;
	background: #f36f48;
    width: 73%;
}
form {
	text-align: center;
	margin-top: 0;
	height: auto;
	width: auto;
}
.submit {
	background-color: #010605;
    width: 200px;
    font-size: 14px;
	padding: 12px 25px;
	border-radius: 20px;
	cursor: pointer;
	color: #ffffff;
	border: none;
	outline: none;
	margin: 0;
	font-weight: bold;
}
.submit:hover {
	background-color: #00ab58;
}
textarea {
	height: 100px;
}
input, textarea {
	margin-bottom: 10px;
	font-size: 11pt;
	padding: 15px 10px 10px;
	border: 1px solid #cecece;
	background-color: #efefef;
	color: #787575;
	border-radius: 5px;
	width: 70%;
	outline: none;
}

fieldset {
    border-radius: 20px;
}

#footer a {
	text-decoration: none;
}
#footer a:hover {
	opacity: 0.8;
}
#footer {
    background-color: #787e7e;
	border-radius: 5px;
}

#footer a img {
    height: 24px;
    width: 32px;
    margin-right: 10px;
    vertical-align: middle;
}
.copyright {
	font-size: 10pt;
	text-align: right;
	padding-bottom: 10px;
	padding-right: 5px;
	/* color: grey; */
}


#back-btn {
    /* display: none; */
    position: fixed;
    bottom: 100px;
    right: 10px;
    background-color: #633171;
    color: #fff; 
    border: none;
    border-top-right-radius: 50%;
    border-top-left-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}
  
#back-btn:hover {
background-color: #0056b3;
}

.known-address{
	size: 05vh;
	color: #cecece;
}
.about-me {
    display: flex;
    padding: 10px 10px;
}

.label{
	display: inline-flex;
	/* align-items: center; */
	margin-right: 10px; 
}

.search{
	align-items: center;
	background: linear-gradient(35deg, #2236366d, rgba(161, 93, 93, 0.373));
	border-radius: 32px;
	margin-left: 84px;
	width: 240px;
	display: block;
}
.container{
	background-color: rgb(135, 135, 112);
	border-radius: 16px;
}

.project-card {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px;
        width: 200px;
        text-align: center;
        display: inline-block;
        background: linear-gradient(35deg, #2236366d, rgba(161, 93, 93, 0.373));
		border-radius: 20px;
        transition: transform 0.3s ease;
    }

    .project-card:hover {
        transform: translateY(-16px);
    }

    .project-card img {
        max-width: 100%;
        height: auto;
    }

    .code-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
#show {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.distinct{
	background-color: rgb(194, 182, 182);
	border-radius: 7px;
	margin-left: 32px;
	width: 60%;
}